<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>不缺木社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<!--    <link rel="stylesheet" href="/css/community.css">-->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>


</head>
<body style="background-color:#eee ">
<div class="jumbotron" style="margin-top: 50px;margin-left: 200px">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <h1>宝藏页面!</h1>
            <h4>↓   问题的原因</h4>
            <p><h3 th:text="${message}"></h3></p>
            <p><a class="btn btn-primary btn-lg" href="https://www.bilibili.com/video/av77205619?from=search&seid=17902748461745626266" role="button" target="_blank">点击有惊喜</a></p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">点击回首页</a></p>
        </div>
    </div>
</div>
</body>
</html>